/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1A1A1A;
}

.container {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  /* Add your styles here */
  color: #FFD93D;
}

.subtitle {
  /* Add your styles here */
  color: #6e6e6e;
}

.pricing-container {
  /* Add your styles here */
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  width: 100%;
  justify-content: center;
}

.pricing-card {
  /* Add your styles here */
  padding-block:40px ;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  background-color: #262626;
  color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 0 1px white;
  width: 16%;

}

.pricing-card:hover {
  /* Add your styles here */
}

.card-header {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  /* Add your styles here */
  font-size: 1.8rem;
}

.popular-tag {
  /* Add your styles here */
  position: absolute;
  background-color: #FFD93D;
  border-radius: 16px;
  font-size: 0.6rem;
  color: black;
  padding: 6px;
  font-weight: bold;
  left: 78px;
  top: -13px;
}

.price-block {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  padding: 15px;
  border-radius: 16px;
}

.price {
  /* Add your styles here */
  font-size: 2rem;
  color: #FC6A6A;
  font-weight: 600;
}

.period {
  /* Add your styles here */
  color: #6e6e6e;
  text-transform: uppercase;
  font-weight: bold;
}

.features {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.features li {
  /* Add your styles here */
  list-style-type: none;
  font-size: 0.9rem;

  
}

.features li.disabled {
  /* Add your styles here */
  color: #6e6e6e;
}

.join-btn {
  /* Add your styles here */
  border: none;
  background: none;
  color: #FC6A6A;
  border: 1px solid #FC6A6A;
  padding: 8px;
  border-radius: 8px;


}

.join-btn:hover {
  /* Add your styles here */
  background-color: #FC6A6A;
  color: #fff;
}

/* Custom Class Modifiers */
.warrior {
  /* Add your styles here */
  background-color: #312222;
  box-shadow: 0 0 0 1px #FC6A6A;
}
.warrior .price-block{
  background-color: #3C2D2D;
}

.champion {
  /* Add your styles here */
  background-color: #312D1D;
  box-shadow: 0 0 0 1px #FFD93D;
}

.champion .price {
  /* Add your styles here */
  color: #FFD93D;
}
.champion .price-block{
  background-color: #3C3829;
}
.champion .join-btn {
  /* Add your styles here */
  border: 1px solid #FFD93D;
  color: #FFD93D;
}

.champion .join-btn:hover {
  /* Add your styles here */
  background-color: #FFD93D;
  color: #fff;

}
